<!-- 
  This template gets placed in the Pet tab's <nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<view title="'Gee-Mail'">
  <content has-header="true" has-tabs="true">
    <div class="list">
      <a class="item item-avatar" ng-repeat="message in messages" type="item-text-wrap" href="#/tab/message/{{message.id}}">
        <img src="http://placehold.it/200x200"/>
        <h2>{{message.sender}}</h3>
        <p>{{message.subject}}</p>
        </item>
      </item>
    </list>
  </content>
</view>
